*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* header */
header{
    width:100%;
    height:80px;
    padding:0 60px;
    background: black;
    border-bottom:1px solid rgba(255,255,255,.08);
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    width:170px;
    height:50px;
}
header nav{
    display:flex;
    align-items:center;
    gap:28px;
    
}

header nav a{
    display:flex;
    align-items:center;
    justify-content:center;
    height:80px;
    padding:0 4px;
    text-decoration:none;
    color:#ffffff;
    font-size:15px;
    font-weight:500;
    border-bottom:3px solid transparent;
}

.cart-icon img{
    display:block;
    width:22px;
    height:22px;
}

header nav a:hover{
    color:#ff6b00;
}

nav a.active {
    color: #ff6b00;
}


#cart-hero{
    background-image: url('/assets/image/cart-bg.jpeg');
    background-repeat: no-repeat;
    background-position: 100% 80%;
    background-size: cover;
    height: 320px;
    padding: 60px 80px;
    text-align: left;
}
/* Cart Hero Heading */

#cart-hero h1{
    color: #ffffff;
    font-family: "Lobster", cursive;
    font-size: 58px;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}
/* Cart Hero Heading */

#cart-hero h1{
    color: #ffffff;
    font-family: "Lobster", cursive;
    font-size: 58px;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}
.divider{
    text-align: left;
    margin-bottom: 25px;
}
.divider hr{
    display: inline-block;
    width: 180px;
    height: 3px;
    background-color: #ff6b00;
    border: none;
    border-radius: 20px;
    vertical-align: middle;
}
.divider img{
    width: 34px;
    height: 34px;
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
}
/* Cart Hero Description */
#cart-hero p{
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    width: 720px;
    text-align: left;
    
}

#cart-details{
    width: 92%;
    margin: 60px auto 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

#shopping-cart {
    width: 65%;
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 14px;
    overflow: hidden;
}

#shopping-cart table{
    width: 100%;
    border-collapse: collapse;
}

#shopping-cart thead{
    background: #fff6ef;
}

#shopping-cart th{
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 600;
    color: #222;
    text-align: center;
}

#shopping-cart th:first-child{
    width: 40%;
    text-align: left;
}

#shopping-cart td{
    padding: 16px;
    border-top: 1px solid #ececec;
    vertical-align: middle;
    text-align: center;
}

.cart-item{
    display:flex;
    align-items:center;
    gap:16px;
}

cart-item img{
    width:90px;
    height:62px;
    object-fit:cover;
    border-radius:8px;
}

.cart-item h3{
    font-size:18px;
    font-weight:600;
    color:#222;
    margin-bottom:5px;
}



.cart-item p{
    font-size:14px;
    color:#666;
    line-height:21px;
}


#shopping-cart td:nth-child(2),
#shopping-cart td:nth-child(4){
    font-size:18px;
    font-weight:600;
    color:#333;
}

#shopping-cart td:last-child img{
    width:22px;
    height:22px;
    cursor:pointer;
}

#shopping-cart tbody tr:hover{
    background:#fffdfb;
}

#order-summary{
    width:35%;
    background:#ffffff;
    border:1px solid #ececec;
    border-radius:14px;
    padding:24px;
    height: 385px;
}
#order-summary h2{
    font-size:20px;
    margin-bottom:25px;
    color:#222;
}
#order-summary p{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:16px;
    font-size:16px;
}

#order-summary hr{
    margin:22px 0;
    border:none;
    border-top:1px dashed #ddd;
}

#order-summary h3{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:18px;
    margin-bottom:25px;
}

#order-summary h3 span:last-child{
    color:#ff6600;
    font-size:20px;
}

#order-summary button{
    width:100%;
    height:54px;

    display:flex;
    justify-content:center;
    align-items:center;

    border:none;
    border-radius:8px;
        background:#ff6b00;
    color:#ffffff;

    font-size:18px;
    font-weight:600;
    font-family:'Poppins', sans-serif;

    cursor:pointer;
}

#order-summary p:last-child{
    justify-content:center;
    gap:8px;
    margin-top:16px;
    font-size:14px;
    color:#777;
}

#cart-actions{
    width:92%;
    margin:25px auto 60px;

    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:250px;
}
#cart-actions a,
#cart-actions button{
    width:220px;
    height:56px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    border-radius:8px;
    font-size:18px;
    font-weight:500;
}

#cart-actions a img,
#cart-actions button img{
    width:20px;
    height:20px;
    object-fit:contain;
    flex-shrink:0;
}

#cart-actions a{
    width:260px;
    height:56px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    padding:0 20px;
        background:#ffffff;
    border:1px solid #dddddd;
    border-radius:8px;
    text-decoration:none;
    color:#333333;
    font-size:18px;
    font-weight:500;
    white-space:nowrap;
}

#cart-actions a:hover{
    background:#fafafa;
}

#cart-actions button{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    padding:14px 22px;
    background:#fff5f5;
    color:#ff4d4d;
    border:1px solid #ffd5d5;
    border-radius:8px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    transition:.3s;
}
#cart-actions button:hover{
    background:#ffeaea;
}

.main{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer{
    background:#111111;
    color:#ffffff;
    margin-top:70px;
}

/* Main Footer Layout */

.footer-container{
    width:90%;
    margin:auto;
    padding:45px 0;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

/* Footer Columns */

.footer-container section{
    width:20%;
    padding:0 22px;
    border-right:1px solid rgba(255,255,255,.15);
}

.footer-container section:last-child{
    border-right:none;
}

.footer-container section:first-child > img{
    width:170px;
    height:auto;
    margin-bottom:18px;
}

.footer-container section:first-child p{
    color:#cfcfcf;
    font-size:15px;
    line-height:26px;
    margin-bottom:22px;
}

.footer-socials{
    display:flex;
    align-items:center;
    gap:12px;
}

.footer-socials a{
    display:flex;
}

.footer-socials img{
    width:34px;
    height:34px;
    transition:.3s;
}

.footer-container h3{
    font-size:18px;
    font-weight:600;
    color:#ffffff;
    margin-bottom:20px;
}


.footer-container ul{
    list-style:none;
}

.footer-container ul li{
    margin-bottom:14px;
}

.footer-container ul li a{
    color:#d4d4d4;
    text-decoration:none;
    font-size:15px;
    transition:.3s;
}


.footer-container ul li a:hover{
    color:#ff6b00;
}

/* Customer Service */

.footer-container section:nth-child(3) li{
    color:#d4d4d4;
    font-size:15px;
    cursor:pointer;
    transition:.3s;
}

.footer-container section:nth-child(3) li:hover{
    color:#ff6b00;
}



.footer-container section:nth-child(4) p{
    color:#d4d4d4;
    font-size:13px;
    line-height:28px;
    margin-bottom:10px;
}



.payment-icons{
    display:flex;
    gap:8px;
    flex-wrap:wrap;
}

.payment-icons img{
    width:55px;
    height:auto;
    background:#ffffff;
    padding:4px;
    border-radius:6px;
}
footer > p{
    border-top:1px solid rgba(255,255,255,.15);
    text-align:center;
    color:#bdbdbd;
    padding:18px 0;
    font-size:15px;
}


/* -------------------------------------------- */

@media (max-width:767px) {
    
    #cart-hero{
        position: relative;
        isolation: isolate;
        overflow: hidden;
        background: none;
        height: 250px;
    }

    #cart-hero::before{
        content: "";
        position: absolute;
        inset: -10px; 
        z-index: -1;
        background: url("/assets/image/cart-bg.jpeg") center 80% / cover no-repeat;
        filter: blur(6px);
    }

    #cart-hero::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    }

    #cart-hero h1{
        font-size: 30px;
    }
    .divider{
        width: 50px;
        display: inline;
    }
    .divider hr{
        width: 70px;
    }
    #cart-hero p{
        font-size: small;
        width: 280px;
    }


      .main {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 20px 16px;
    }

    #shopping-cart,
    #order-summary {
        width: 100%;
        margin: 0;
    }

    #shopping-cart {
        overflow-x: auto;
    }

    #shopping-cart table {
        min-width: 600px;
    }

    #order-summary {
        box-sizing: border-box;
    }
}