*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* header */
header{
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 2px solid #e5e5e5;
}
.logo{
    width: 170px;
    height: auto;
}

nav a{
    text-decoration:none;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    margin: 0 12px;
}

nav a:hover{
    color: #ff6b00;
    text-decoration: underline;
}

/* Home Hero Section*/

#home-hero{
    background-image: url('/assets/image/home-bg.jpg');
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    height: 650px;
    padding: 55px 80px;
}

#home-hero h2{
    color: white;
    font-family: "Poppins", sans-serif ;
    font-size: 53px;
    font-weight: 800;
    line-height: 58px;
    width: 650px;
    margin-bottom: 20px;
}
	
#home-hero h2 span{
    color: #F5A300;
}

/* Home Hero Description*/
#home-hero p{
    color: white;
    font-size: 18px;
    line-height: 28px;
    width: 420px;
    margin-bottom: 35px;
}

/* Hero Buttons */
.hero-buttons{
    margin-top: 35px;
}

.hero-buttons a{
    display: inline-block;
    min-width: 180px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    transition: 0.3s;
}
.order-btn{
    background-color: #f44336;
    color: white;
    margin-right: 15px;
}

.menu-btn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

#features{
    background-color: #ffffff;
    padding: 45px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#features h2{
    width: 100%;
    text-align: center;
    font-size: 42px;
    color: #222;
    margin-bottom: 40px;
    position: relative;
}

#features h2::after{
    content:"";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #ff6b00;
    margin: 10px auto 0;
}

#features article{
    width: 300px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-right: 1px solid #e5e5e5;
}
#features article:last-child{
    border-right:none;
}

#features article img{
    width: 55px;
    height: 55px;
    margin-right: 20px;
    flex-shrink: 0;
}

#features article div{
    flex:1;
}


#features article h3{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 6px;
}

#features article p{
    font-size:16px;
    color: #3a3939;
    line-height: 21px;
    margin: 0;
}